/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

body {
  color: #94887b;
  font-weight: 300;
  letter-spacing: 1px; }

.semi-bold{
  font-weight: 700 !important;
}

.bold{
  font-weight: 800 !important;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }
.form-control{
  color: #d5bba3;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */

.t10 {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s; }

.t05 {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s; }

.t02 {
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s; }

  .t03{
    transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition: .5s all ease-in-out;
  }

.no-left-padding{
  padding-left: 0px !important;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.show{
  display: block;
  }

/*Visible helper class*/
.visible{
  visibility: 1;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0 }


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.inline-block{
  display: inline-block !important;
}

/*
  Shift up for Show Hide Calander
*/
.shift-down{
  bottom: 65px !important;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.no-shift-right{
  padding-left: 8% !important;
}
.mid-size-panel{
  width: 80% !important;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/******
 * OMZA
 ******/
body {
  background-color: #fff6ee; }

h1{
  font-family: 'Josefin-San', sans-serif;
    font-weight: 100; }
h1{
  font-size: 45px;
}
h2, h3, h4, p, li, a {
    font-family: 'Josefin-San', sans-serif;
    font-weight: 100;
}

h2{
  font-size: 40px;
}

  /*Border for Pictures*/

  .pic-border{
    border: 4px solid #e4e4e4;
    border-radius: 7px;
  }

  .ui-autocomplete{
    background: #fdfdfd;
    width: 45%;
    z-index: 10000;
    border: 2px solid #e6d1be;
    padding-left: 0px;
  }

  .ui-menu-item{
    list-style-type: none;
  }
  .ui-menu-item:hover{
    background: #f9f9f9;
  }
  .ui-menu-item a{
    text-decoration: none;
    color: #BAA48F;
    font-size: 1.25em;
    font-weight: 500;
  }


.btn-primary {
  background-color: #ACBD73;
  border-color: #ACBD73;
  font-family: 'Allerta', sans-serif;
  transition: all 0.2s; }
  .btn-primary:hover, .btn-primary:focus {
    outline: none;
    background-color: #C7D694;
    border-color: #C7D694; }
  .btn-primary:active {
    outline: none;
    box-shadow: none;
    background-color: #ACBD73;
  border-color: #ACBD73;; }

.btn-small{
  width: 150px;
  margin-top: 0px !important;
}

.btn-large {
  font-size: 24px;
  font-weight: 300;
  width: 255px; }

.right-shift{
  right: 19px;
}
  .btn-default{
    margin-top: 10px;
    background-color: #f9f9f9;
    color: #94887b;
    border-color: #e4e4e4;
    font-family: 'Allerta', sans-serif;
  }

.time-btns{
  width: 85%;
  top: 3px;
  margin-left: 9%;
  margin-right: auto;
  display: block;
  position: relative;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.on{
  color: #D5BBA3;
  border-color:#D8D8D8;
  background-color: #ebebeb;
}

.mobile-nav-background{
  position: relative;
  top: 60px;
  background-color: #868686;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 10px;
  position: fixed;
  z-index: 4;
  width: 100%;
}

.mobile-nav a{
  border-right:1px solid #7A7979;
  padding-right: 6px;
  color: #e4e4e4;
  font-weight: 700;
  text-decoration: none;
  tansition: all .3s ease-in-out;

}
.mobile-nav a:hover{
  color: #f9f9f9;
}
.help-section .contact-img{
  width: 75px;
  height: 75px;
  position:relative;
  top:85px;
  border-radius: 100px;
}

.help-section #contact-form{
    margin-top:35px;
}
.help-section h3{
  
  position: relative;
  margin-top: 0px;
  font-weight: 700;
  color: #f9f9f9;
  text-align: center;
  padding-top: 0px;
}
.message-section h3{
  left: 50px;
}
/**
 * PAGE STRUCTURE
 */
.header {
  background-color: #f9f9f9;
  border-bottom: 2px solid #e4e4e4                    ;
  height: 60px;
  padding: 8px 16px 12px 8px;
  position: fixed;
  z-index: 30;
  top: 0;
  width: 100%; }

.active{
  color: #dddddd !important;
}

.nav-links{
  float: right;
  position: relative;
  bottom: 35px;
}

.nav-links a{
  border-right: 1px solid #e4e4e4;
}
.contact-link{
  border-right: none !important;
}
.nav-links a{
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px; 
  padding-right: 5px;
}

.studio-page .col-md-8{
  padding-left: 0px;
  padding-right: 0px
}

.nav-links a:hover{
  color: #dddddd;
}

.logo {
  position: relative;
  display: block;
  color: #c7d694;
  font-size: 24px;
  width: 142px;
  height: 42px;
  margin-left: 45%;
  text-indent: -9001px;
  background-image: url(../img/omza-logo.png);
background-repeat: no-repeat;
   }

 

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .logo {
    background-image: url('../img/omza-logo@2x.png');
    background-size: 142px 42px;
    background-repeat: no-repeat;
    margin-left: 45;
  }
}

  
.mode-1 .logo {
  left: 50%;
  margin-left: -70px; }

.mode-1 .sub-pane1{
  height: 705px;
}
@media (max-width: 700px){
  .logo{
  background-image: url('../img/omza-icon.png');
  background-size: 42px 42px;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin-left: 45%;

  }
  .mode-1 .logo{
  left: 0%;
  margin-left: 45%;
  }
}
.subhead {
  position: absolute;
  top: 10px;
  width: 100%;
  left: 0;
  height: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block; }
  .subhead h3 {
    padding: 0 6px;
    background-color: #fff6ee;
    color: #94887b; }

.mode-1 .subhead {
  display: none; }

.subhead-i {
  display: inline-block;
  }
  

.studio-img {
  background-size: cover;
  background-color: #fff6ee;
  /* Hardcode for now */
  background-image: url('../img/omza-icon.png');
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 0 auto; }
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .studio-img {
    background-image: url('../img/omza-icon@2x.png');
    background-size: 100px 100px;

  }
}

/*Styling for .help-section*/

.help-section{
  background-color: #646464;
  transition: all .5s ease-in;
  position: relative;
  display: none;
  opacity: 1;


}

.help-section h5{
  font-size: 14px;
font-weight: 600;
color: #E4E4E4;
}

.show-help{
  margin-bottom: 0px;
  bottom: 0px;
  visibility: 1;

}

.help-section p{
  color: #F7F7F7;
}
.help-tab{
  width: 64px;
  position: fixed;
  top: 4px;
  transition: all .4s ease-in-out;
}
.help-tab:hover, .help-tab:active{
}

.dark-caret{
  color: #646464 !important;
  }
.help-icon{
  color: #e4e4e4;
  font-size: 42px;
  margin-left: 15px;
  float: left;
  cursor: pointer;
  transition: all .s ease-in-out;
  margin-top: 3px;
}
.help-icon:hover{
  color: #ebebeb;
}

.help-section h2{
  font-size: 31px;
  font-weight: 900;
  color: #C7D694;
  margin-top: 100px;
}
.help-tab .fa-caret-up{
  color:#fff6ee;
  font-size: 119px;
  bottom: 19px;
  position: relative;
  transition: .02 all ease-in;
  right: 2px;
}
/*Styling for .content*/
.content {
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  overflow-y:scroll;
  max-width: 100%;
  margin-top: 60px;
   }

.content-inner {
  position: relative;
  left: 0%; }

.pane {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: normal;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
  text-align: left;
  
  box-sizing: border-box; }

.mode-2 .pane0 {
  opacity: 0; }

.mode-5 .content-inner {
  left: -100%; }

.pane0 {
  margin-top: 60px;
  padding: 0; }

.home-head {
  background-image: url(../img/home-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: table; }

.home-wrap {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }
  .home-wrap h1 {
    font-size: 96px;
    color: #f6f6f6; }
  .home-wrap h4 {
    font-size: 32px;
    color: #f6f6f6; }
  .home-wrap .home-search {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px; }

.home-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: table;
  top: 0;
  left: 0; }

.filter-btn{
  font-size: 31px;
position: relative;
padding: 6px;
width: 55px;
height: 650px;
border-bottom-right-radius: 6px;
border-top-right-radius: 6px;
float: right;
background-color: #D5BBA3;
cursor: pointer;
display: none;
}
.filter-btn:hover{
  background-color:#DFC9B6;
}
.left-shift-filter{
  left: 0px;
}
.hide-filter{
  width: 56px!important;

}
.time-btn{
  width: 33%;
  font-size: 11px;
}
.pane0 {
  padding-top: 0; }

.half-width{
  width: 50%;
}

.pane1-head {
  margin-bottom: 16px;
  display: none; }

.mode-1 .pane1-head {
  display: block; }

.sub-pane {
  display: inline-block;
  vertical-align: top; }

.pane1 {
  height: 750px;
  overflow: visible;
  margin-top: 20px;
 }
.mode-1 #search-section, .mode-5 #search-section{
  display: none;
}

 #search-bar{
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  background-color: #fff6ee;
  margin-top: 20px;
  border-top-left-radius: 3px;
  border-top-bottom-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  border: 2px solid #E6D1BE;

 } 
 #search-bar:active, #search-bar:focus{
  background-color: #fdfdfd;
 }

#search-section .btn{
  margin-top: 20px;

}

.sub-pane1 {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  width: 300px;
  background-color: #f3f3f3;
  height: 705px;
   }

@media (min-width:500px){
  .mode-1 .sub-pane1{
    overflow-y: hidden;
  }
}
  .day-btn{
    width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 100px;
  border: 3px solid #dddddd;
  background-color:none;
  cursor: pointer;
  }
  .day-btn span{
 margin-top: 11px;
display: block;
font-size: 18px;
font-weight: bold;
  }
.top-panel{
  background-color: #f3f3f3;
  position:relative;
  bottom: 390px;
  width: 245px;
  height: 260px;
}

.mode-1 .top-panel{
  width: 100%;
}
@media all and (min-width:520px){
  .mode-1 .top-panel{
    bottom: 267px;
  }
}
@media all and (min-width:965px){
    .mode-1 .top-panel{

  }
}
.sub-pane2 {
  padding-left: 365px;
  box-sizing: border-box;
  width: 80%;
   }

   .sub-title{
    color: #A7A7A7;
   }
   @media screen and (max-width: 719px){
    .sub-pane2{
     padding-left: 0px;
     width: 100%;

    }
   }

.class-wrap {
  overflow-y: auto;
  height: 740px;
  padding-left: 2%;
   }

.class-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .class-list li {
    transition: all 0.2s;
    list-style: none;
    display: block;
    height: 40px;
    padding: 12px 16px;
    display: inline-block;
    background: #fff;
    width: 199px;
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 275px;
    position: relative;
    cursor: pointer; }
.studio-name{
  position: relative;
  margin-top: 5px;
  text-align: center;
}
    

.class-left {
  width: 60px;
  position: absolute;
  text-align: center;
  top: 40px;
  left: 16px; }

.class-right {
  padding-left: 61px;
  width: 100%; }

.class-right h3 {
  margin:40px 0 0 9px;
  font-size: 14px;
  width: 112px;
  font-weight: 300; 
  position: relative;
  bottom: 245px;
}

.class-icon {
  width: 65px;
height: 65px;
border-radius: 100px;
background-size: cover;
border: 5px solid #e4e4e4;
transition: all 0.3s; }

  .class-list li .class-icon:hover{
    border:4px solid #C7D694;
  }

.class-sub {
  font-size: 14px;
line-height: 120%;
margin-top: 11px;
text-align: center;
position: relative;
margin-left: 3px; }

.class-date {
  background: #e4e4e4;
  padding: 3px 8px;
  top:5px;
  position: absolute;
  height: 45px;
  width:125px;
  right: -6px;
  text-align: left;
  transition: all .02s ease-in; }

.class-date:after, .class-date:before {
  top: 100%;
  right: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.class-date:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 6px;
  border-right-color: #ffffff;
  right: 6px; }

.class-date:before {
  border-color: rgba(160, 186, 74, 0);
  border-top-color: #b3b3b3;
  border-width: 6px;
  margin-left: -6px; }

.class-date.day-0{
  background-color: #F8A7A7;
}

.class-date.day-1{
  background: #FFC291;
}

.class-date.day-2{
  background-color: #E6E67A;
}

.class-date.day-3{
  background-color: #99D8A6;
}

.class-date.day-4{
  background-color: #8BC3E9;
}

.class-date.day-5{
  background-color:#97A3D5;
}
.class-date.day-6{
  background-color: #D3A7E2;
}
.day-0.day-btn{
  border: 3px solid #F8A7A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.day-0.day-btn:hover, .day-0.day-btn.on{
  background-color: #F8A7A7;
  border: 3px solid #F7F7F7;
}
.day-1.day-btn{
  border: 3px solid #FFC291;
}
.day-1.day-btn:hover, .day-1.day-btn.on{
  background-color: #FFC291;
  border: 3px solid #F7F7F7;
}
.day-2.day-btn{
  border: 3px solid #F4F5B5;
}
.day-2.day-btn:hover, .day-2.day-btn.on{
  background-color: #F4F5B5;
  border: 3px solid #F7F7F7;
}
.day-3.day-btn{
  border: 3px solid #99D8A6;
}
.day-3.day-btn:hover, .day-3.day-btn.on{
  background-color: #99D8A6;
  border: 3px solid #F7F7F7;
}
.day-4.day-btn{
  border: 3px solid #8BC3E9;
}
.day-4.day-btn:hover, .day-4.day-btn.on{
  background-color: #8BC3E9;
  border: 3px solid #F7F7F7;
}
.day-5.day-btn{
  border: 3px solid #97A3D5;
}
.day-5.day-btn:hover, .day-5.day-btn.on{
  background-color: #97A3D5;
  border: 3px solid #F7F7F7;
}
.day-6.day-btn{
  border: 3px solid #D3A7E2;
}
.day-6.day-btn:hover, .day-6.day-btn.on{
  background-color: #D3A7E2;
  border: 3px solid #F7F7F7;
}
.class-day {
  font-size: 20px;
  line-height: 120%;
  color: #fff; }

.class-time {
  font-size: 15px;
  line-height: 120%;
  color: #fff; }

.class-rating {
  background: #f0f0f0;
  height: 15px;
  width: 90px;
  margin: 12px 0 0 70px;
  position: relative;
  border-radius: 2px; 
  left: 17px;
  bottom: 40px;
}
@media all min-width(500px){
  .class-rating{
    width: 113px;
  }
}


  .class-rating:before {
    width: 20px;
    height: 20px;
    content: '';
    display: block;
    background: transparent url(../img/omza-fit.png);
    background-size: 20px 20px;
    position: absolute;
    right: 95px;
    top: -2px;
     }


.class-rating-i {
  height: 15px;
  background-color: #C7D694;
   }

.class-rating-i-start{
  background-color: #e4e4e4;
}
.btn-class-details {
  padding: 4px 6px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  opacity: 0.8; }

.pane2 {
  text-align: center;
  z-index: 0; }
.pane2 .node, .pane2 .slider, .pane2 .js-slider .slider-bg{
  cursor: default;
}

.pane2 .class-date{
  width: 90px;
  top: 27px;
  height: 80px;
  right: 2%;

}
@media (min-width:450px){
  .pane2 .class-date{
    right: 3%;
    top: 45px;
    width: 180px;
  }
  .pane2 .class-date{
    height: 68px;
  }
}
@media (min-width:720px){
  .pane2 .class-date{
    right: 9.45%;
    top: 55px;
  }
  .teacher-name{
      left:120px;
      bottom:51px;
      width:300px;
  }
}
@media (min-width:1150px){
  .pane2 .class-date{
    right: 21.1%;
    width: 180px;
  }
}
.pane2 .class-date:after{
  border-top-color:#d5bba3;
  border-right-color:#d5bba3;
}

@media (min-width: 550px){
  .pane2 .nodes{
    width: 100%;
    position: relative;
  }
}
.detail-wrap {
  margin-top: 5%;
  background-color: #EBEBEB;
  border-radius: 7px 7px 0px 0px;
  ; }

.detail-icon {
  width: 40px;
  height: 40px;
  margin-top: 14px;
  border-radius: 20px;
  float: left;
  display: none;
  background-size: cover;
  margin-left: 10px; }

.detail-teacher {
  float: left; }

.detail-teacher .detail-opt {
  float: left; }
.detail-top{
  height: 105px;
}
.detail-opt {
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
  padding-top: 6px;
  float: left;
  margin-right: 16px; }
  .detail-opt span {
    display: block;
    font-style: italic;
    font-size: 13px;
    line-height: 70%; }


.omza-stats{
  margin-top: 70px;
}
.detail-title{
  font-size: 1em;
  font-family: 'Allerta', sans-serif;
  margin-top: 19px;
  position: relative;
  right: 18px;
  text-transform: uppercase;
}
.detail-time {
  font-size: 1.5em;}
.detail-studio{
  display: block;
  width: 100%;
  
}


.message-section h4{
  font-weight: 700;
  font-size: 25px;
  margin-top: 35px;
  color: #f9f9f9;
}
.feedback-btn{
  color: #f9f9f9;
  font-size: 30px;
  width: 65px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  opacity: .65;
  transition: all .3s ease-in-out;

}
.feedback-btn:hover{
  opacity: 1;
}
.yes{
  background-color: #c7d694;
  margin-right: 10px;
}
.no{
  background-color: #F86A5B;
}
.detail-reg .btn {
  margin-top: 40px; }
  .detail-reg .btn .glyphicon {
    width: 0;
    opacity: 0;
    vertical-align: top;
    padding-top: 3px; }

.detail-reg .btn-success .glyphicon {
  margin-right: 12px;
  width: 24px;
  opacity: 1; }

.mode-1 .sub-pane1 {
  display: block;
  width: 90%;
  margin: auto; 
   }



.label-end{
  font-size: 69px;
  position: relative;
  bottom: 47px;
  color: #ebebeb;
  left: 239px;
  bottom: 48px;
}
.back-btn{
  float: left;
position: relative;
top: 30%;
margin-left: 14px;
font-size: 48px;
cursor: pointer;
transition: all .02s ease-in;
}
.back-btn:hover{
  color:#C0AE9E;
}
   @media (min-width: 750px){
    .mode-1 .sub-pane1{
      width: 80%;
    }
   }
   @media (min-width:500px)}{
    .sub-pane2{
      padding-left: 30px;
    }
   }
   @media (min-width: 1000px){
      .mode-1 .sub-pane1{
        width: 50%;
      }
   }
  .mode-1 .sub-pane1 h1 {
    font-size: 35px; }
.mode-1 .sub-pane2 {
  display: none; }
.mode-1 .pane1 .btn-find {
  display: inline-block;
  width: auto;
  width: 280px; }
.mode-1 .slider {

  float: center;
  width: 100%;
  float: none;
  display: inline-block; }

.mode-1 .node {
  display: inline-block;
  float: none; }
.mode-1 .sliders {
  clear: both;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
 }

.sliders{
  margin-top: 10px;
  width: 90%;
}

.mode-1 .week{
  margin-left: auto;
  margin-right: auto;
  top: 15px;
  height: 400px
  position: relative;
  background-color: #f3f3f3;
}
.mode-4 .sub-pane1, .mode-3 .sub-pane1, .mode-2 .sub-pane1{
  height: 480px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

}
.week{
  width: 245px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  bottom: 113px;
  display: inline-block;
}

.class-rating-i-undefined{
  background-color: #e4e4e4;
}

.mode-4 .time-btns, .mode-3 .time-btns, .mode-2 .time-btns{
  width: 97%;
  margin-left: 0px;
}
.mode-4 .sliders h5, .mode-3 .sliders h5, .mode-2 .sliders h5{
  font-size: 12px;
}
/*Show and Hide Sliding Panel*/

.large-round-btn{
  height: 75px;
  width: 75px;
  position: relative;
  border-radius: 100px;

}
.sliding-btn-desc{
  display: block;
  position: relative;
  bottom: 13px;
  font-weight: 600;
}
.sliding-btn{
  
  margin-bottom: 15px;

}
.mode-1 .sliding-btn{
  right: 0;
}
.sliding-btn:focus, .sliding-btn:active{
  outline: none;

}
.sliding-btn .fa{
  font-size: 40px;
}
.sliding-panel{
  background-color: #fafafa;
  position: relative;
  width: 245px;
  text-align: center;
}

.sliding-panel-inner{
  width: 100%;
  margin-left: 4%;
  margin-right: auto;
  position: relative;
  bottom: 50px;
}
.mode-4 .sliding-panel-inner, .mode-3 .sliding-panel-inner, .mode-2 .sliding-panel-inner{
  height: 367px;
}
.mode-4 .top-panel, .mode-3 .top-panel, .mode-2 .top-panel{
  height: 450px;
}
.mode-1 .sliding-panel{
  width: 100%;
}

.calander-caret{
position: relative;
bottom: 30px;
font-size: 53px;
color: #fafafa;

}
/**
 * SLIDERS
 */

.top-panel .pull-left h5{
  position: relative;
  left: 169%;

 }
 .top-panel h5{
   color: #a2a2a2;
 }
 .flex-header h5{
  left: 100% !important;
 }
.slider {
  position: relative;
  height: 50px;
   }

.slider-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-size: contain; }

.slider-strength .slider-i {
  background-color: #D3C7BD; }
.slider-strength .slider-img {
  background-image: url(../img/attr-strength.png); }

.slider-spirit .slider-i {
  background-color: #c495d7; }
.slider-spirit .slider-img {
  background-image: url(../img/attr-spirit.png); }

.slider-flex .slider-i {
  background-color: #64baf3; }
.slider-flex .slider-img {
  background-image: url(../img/attr-flex.png); }

.slider-balance .slider-i {
  background-color: #1abc9c; }
.slider-balance .slider-img {
  background-image: url(../img/attr-balance.png); }

.slider-tempo .slider-i {
  background-color: #f97062; }
.slider-tempo .slider-img {
  background-image: url(../img/attr-tempo.png); }

.slider-bg {
  background-color: #fff;
  border-radius: 3px;
  top: 12px;
  font-family: 'Allerta', sans-serif;
  height: 28px;
  margin-left: 85px;
  position: relative;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
 }

.js-slider .slider-bg {
  cursor: pointer; }

.js-slider.on .slider-bg {
  opacity: 1; }

.slider-i {
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  height: 28px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 50%;
  -webkit-box-shadow: inset 0 -.5px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -.5px 0 rgba(0,0,0,0.15);
}
  .slider-i.full {
    -webkit-border-radius: 3px;
    border-radius: 3px; 

  }

.slider-btn {
  background-image: url('../img/slider-btn.png');
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  position: fixed;
  z-index: 30;
  left: 56%;
   }
   
   .slider-btn-1{
    top: 52.5vh;
   }
   .slider-btn-2{
    top: 60.5%;
   }
   .slider-btn-3{
    top: 69%;
   }
.class-li .hook-studio{
    position: relative;
display: inline-block;
margin-top: 125px;
z-index: 1;
  }
.studio-border{
 border-radius: 100px;
border: 5px solid #fff6ee;
background-color: #f9f9f9;
width: 57px;
height: 57px;
transition: all .02 ease-in-out;

}
.class-li .hook-studio:hover > .divide-class{
  border-top: 6px solid #fff6ee;
}
.studio-border:hover{
  border: 5px solid #D5BBA3;
}

.divide-class{
  display: block;
height: 1px;
border: 0;
border-top: 6px solid #fff6ee;
position: relative;
padding: 0;
bottom: 80px;
right: 16px;
width: 199px;
}

.divide-class-active{
    border-top: 6px solid #d5bba3;
}

.hover-divide{
  border-top: 6px solid #D5BBA3;
}
.studio-thumb{
  background-size: 50px 50px;
  text-align: center;
  width: 55px;
  height: 55px;
  display: inline-block;
  background-repeat: no-repeat;
}
  .slider-btn.full {
    -webkit-border-radius: 3px;
    border-radius: 3px; }

.slider-l {
  line-height: 28px;
  color: #999;
  position: absolute;
  top: 0;
  left: 12px;
  font-size: 18px;
  letter-spacing: 1px; }

.slider-i .slider-l {
  color: #f0f0f0; }



.node {
  width: 65px;
  height: 65px;
  background-size: contain;
  border: 2.5px solid #dddddd;
  border-radius: 100px;
  transition: all 0.5s;
  background-color: transparent;
  background-repeat: no-repeat;
  font-family: 'Allerta', sans-serif;
  float: left;
  margin-right: 16px;
  margin-top: 35px;
  cursor: pointer;
   }
.detail-nodes{
}
  .node span {
    margin-top: 70px;
    display: block;
    font-size: 12px;
     }

.pane1 .node {
  
  margin-top: 33px;
  margin-right:25px; }
  .pane1 .node:hover, .pane1 .node.on {
    opacity: 1;
 border: 3.5px solid #BAA48F;
background-color: #FFFFFF;}

.node-meditation {
  background-image: url(../img/node-meditation.png); }

.node-chanting {
  background-image: url(../img/node-chanting.png); }

.node-heated {
  background-image: url(../img/node-heated.png); }

.node-injuries {
  background-image: url(../img/node-healing.png); }

.node-music {
  background-image: url(../img/node-music.png); }
  .node-spirit {
  background-image: url(../img/node-spirit.png); }
  .node-beginner {
  background-image: url(../img/node-beginner.png); }
  .node-core {
  background-image: url(../img/node-core.png); }

.node-music span {
  white-space: nowrap;
   }

.node-stand {
  background-image: url(../img/node-stand.png); }

.detail-wrap .node {
  opacity: 0.3; }
  .detail-wrap .node.on {
    opacity: 1;
border: 3.5px solid #BAA48F;
background-color: #FFFFFF; }
    .detail-wrap .node.off{
      display:none;
    }

/*Detail Class View Styling*/

.detail-clear {
  clear: both;
  overflow: hidden;
  padding-bottom: 10px; }

.detail-left{
  margin-left: auto;
   margin-right: auto;
  margin-top: 2%;
  width: 90%;
  padding: 1%;

}
.class-describe{
  font-size: 1.15em;
  width: 80%;
  margin-top: 2%;
  padding-left: 47px;
  padding-bottom: 2%;
  text-align: left;
}
.description-head .fa-book{
  font-size: 30px;
  margin-right: 9px;
  color: #BAA48F;
}
.description-title{
  font-size: 22px;
  position: relative;
  bottom: 3px;
  color: #fff;
}
.header-info{
  background-color: #D5BBA3;
border-bottom: 2px solid #baa48f;
border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: inherit;
  position:relative;
  float: left;
  display: block;

}
.info-header{
  margin-left: 4%;
}
.btn-schedule{
  display: inline-block;
  position: relative;
  float: right;
  bottom: 35px;

}
.btn-schedule.btn-small{
  margin-right: 9px;
}
.btn-schedule a{
  color: #fff;
  text-decoration: none;
}
.detail .btn-schedule{
  top: 10px;
  bottom: 0;
  margin-right: 3%;
}
  .teacher-img{
    background-size: 125px 125px;
background-repeat: no-repeat;
width: 125px;
height: 125px;
border: 6px solid #BAA490;
border-radius: 100px;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
  }
.teacher-img:hover{
  border: 4px solid #C7D694;
}
.teacher-name{
display: inline-block;
position: relative;
left:81px;
bottom: 51px;
width:30px;
font-size: 1em;
}
.hook-teacher{
  display: inline;
  color:#94887b;
  cursor: pointer;
  font-size:1.25em;
}
.teacher-info .hook-teacher{
  color: #f9f9f9;
}
.omza-fit-detail{
  background: #f0f0f0;
height: 20px;
width: 40%;
display: inline-block;
position: relative;
border-radius: 2px;
bottom: 64px;
left: 40px;
margin:0;
}
.detail-nodes {
  clear: both;
  width: 100%;
  margin-top: 20px; }

.no-results {
  padding: 10px; }

.reset {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 6px;
  color: #94887b; }
.nodes{
  position:relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  bottom: 28px;
}
.room-name{
  color: #fff;
  font-size: .75em;
    width:85px;
}
.description-head {
background: #acbd73;
padding: 3px 8px;
width: 283px;
position: relative;
color: #e4e4e4;
height: 37px;
padding-top: 3px;
padding-left: 20px;
font-size: 1em;
font-weight: bold;
text-align: left;
 }

.description-head:after, .description-head:before {
  top: 100%;
  right: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.description-head:after {
border-color: rgba(255, 255, 255, 0);
border-top-color: #90A352;
border-width: 6px;
border-right-color: #90A352;
right: 271px;
}

.detail {
  display: inline-block;
  
  
  width: 92%; }

  
  .description-head{
    right: 12px;
  }

/*About Us Element Stylings*/

.about-page .row, .extra-page .row{
  padding-left: 5%;
  padding-right: 5%;
}

.extra-page p{
  font-size: 1.35em;
  line-height: 35px;
}

.extra-page .detail-wrap{
  margin-top: 85px;
  margin-bottom: 35px;
}

.about-page .mission-section{
  padding-top: 100px;
}

.studio-page .detail-wrap{
  margin-top: 100px;
}
.top-space{
  margin-top: 45px;
}
.circle-background{
  height: 150px;
  width: 150px;
  background-color: #C7D694;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #ACBD73;

}

.extra-short-description{
font-size: 1.75em !important;
line-height: 47px;
font-weight: 400;
color: #AFAEAE;
}

.circle-background .fa{
  color: #f9f9f9;
  font-size: 90px;
  margin-top: 35px;
  margin-left: 30px;
}

.value-section h3, .extra-page h3{
  text-align: center;
  font-size: 30px;
}
.about-page h2, .extra-page h2{
  text-align: center;
  font-weight: 500;
}
.extra-page h1{
  font-weight: 800;
}
.about-page hr, .extra-page hr{
  width: 80%;
  border-top: 2px solid #D5BBA3;
  margin-left: 11%;
}
.our-team h3, .how-section h3{
  font-weight: 400;
  color: #bbbbbb;
  text-align: left;
}
.founder-pic{
  border: 5px solid #Ddd;
  margin-left: auto;
  margin-right: auto;
}

.company-description{
  text-align: center;
}

/*Studio Page Styling*/

.studio-page .fa-mobile{
  margin-top: 10px;
  margin-left: 43px;
  font-size: 125px;
}

.studio-page .fa-tint{
  font-size: 110px;
  margin-top: 25px;
  margin-left: 40px;
}

.studio-page .fa-tachometer{
  font-size: 100px;
  margin-top: 13px;
  margin-left: 23px
}
.carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #d5bba3;
}
.carousel-indicators li{
  width: 20px;
  height: 20px;
  border: 2px solid #baa48f;
}
/*
Contact Page Styling
*/

#contact_name, #contact_email, #contact_message,#contact_teacher{
  border: none;
border-radius: 3px;
width: 100%;
height: 40px;
transition: all .2s ease-in-out;
}

#contact_message:focus, #contact_name:focus, #contact_email:focus, #contact_teacher:focus{
  outline: none;
  border: 3px solid #C7D694;
}
#contact_message{
  width: 100%;
border: none;
border-radius: 3px;
height: 200px;
color: #D5BBA3;
}

.class-view-footer #contact_message, .class-view-footer #contact_teacher{
    width:250px;
}
.class-view-footer .contact-teacher{
    display:none;
}


.contact-img{
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  transition: all .4s ease-in-out;
}
.contact-img:hover{
  border: 3px solid #C7D694;
}
.fit-help{
  width:50px;
  bottom:15px;
  position: relative;
  float: right;
  margin-top: 5px
}

input{
  color: #D5BBA3;
}

.attr-list{
  list-style-type: none;
}

.left-turn{
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg);
}
.right-turn{
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg);
}
.attr-list img{
  background-color: #f9f9f9;
  border-radius: 100px;
  border: 6px solid #584c4c;
  padding: 9px;
  margin-bottom: 15px;
  width: 85px;
  position: relative;
  left: 31%;
  top: 10px;
}

.feature-list{
  display: inline-block;
  margin-top: 80px;
  padding-bottom: 10px;

}
.visible{
  opacity: 1;

}
.visible .yes{
  border-bottom: 2px solid #9CAF59;
}
.visible .no{
  border-bottom: 2px solid #F86A5B;
}
.omza-fit-well{
  background-color: #8A8A8A;
border-radius: 4px;
padding-top: 20px;
margin-bottom: 15px;
}
.feature-list img{
  background-color: #f9f9f9;
  border-radius: 100px;
  border: 4px solid #584c4c;
  padding: 9px;
  margin-bottom: 15px;
  width: 70px;
  position: relative;
}
.feature-list h4{
  font-weight: 700;
  margin-top: 0;
}



/*Class Footer Stylings*/
.class-view-footer{
    background-color: #d5bba3;
    text-align:left;
}

.class-view-footer{
    text-align:center; font-size:14px; margin-bottom:25px;
}
.class-view-footer h2{
    font-size:1.75em;
    float:left;
    text-align:left;
}
.class-view-footer h4, .class-view-footer h3{
    text-align:left;

}
.class-view-footer h3{
    color:#ececec;
    font-size:16px;
}
#review-header{
    padding:10px;
}
.class-view-footer p{
    font-weight:500;
}
.review-section{
    border-radius:7px; background-color:#cfc1b3; margin-bottom:10px;
}
.review-section h3{
    text-align:center;
}
.review-img{
    position:relative;
    top:40px;
    padding: 8px;
    width: 60px;
    border-radius: 100px;
    background-color: #f9f9f9;
    border: 3px solid #CECECE;
}
/*Review nobs for class detail page*/
.review-btn{
    background-image:url('../img/rating-nob.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height:115px;
    transition:all .4s ease-in;

}
.nob{
    position:relative;
    width:20px;
    height: 20px;
    background: #f9f9f9;
    margin: 0 auto;
    border-radius: 100px;
    border:2px solid #D1BD98;
    z-index:500;
    cursor:pointer;
}

.reviewed, .active-nob{
    background-color:#c7d694;
    border:1px solid #ACBD73;
}

.class-view-footer .col-xs-4{
    width:25%;
    left:13%;
}

.review-section h3{
    margin-top:0;
    text-transform:uppercase;
    font-size:1.15em;
}

.review-tag{
    font-size:11px;
}
/**
 * Media Queries
 */

 @media only screen and (min-width: 500px){
  .detail-title{
    font-size: 1em;
    margin-top: 6px;
  }

 }
 @media screen and (max-width:400px){
    .description-head{
      right: 4%;
    }
    .node{
      width: 65px;
      height: 65px;
    }
    .class-describe{
      font-size: 18px;
    }
 }

 @media all and (min-width: 496px){

 }
@media only screen and (min-width: 720px) {
  .content {
    max-width: none; }
.detail{
  font-size: 1.25em;
}
  .pane0 {
    width: 100%;
    max-width: 100%; }

  .no-fil.mode-1 .slider-bg, .no-fil.mode-1 .node {
    opacity: 1; }

.mode-3 .top-panel, .mode-4 .top-panel, .mode-2 .top-panel{
  width:290px;
}

.mode-3 .sliding-panel, .mode-4 .sliding-panel, .mode-2 .sliding-panel{
  width: 290px;
}

.mode-2 .week, .mode-3 .week, .mode-4 .week{
  top: 17px;
  bottom: 0px;
};


  .mode-1 .sub-pane1 h1 {
    font-size: 2.75em;
    color: #94887b; }
  .mode-1 .sub-pane1 h4 {
    font-size: 24px;
    margin: 10px 0;
    color: #94887b; }

  .sub-pane1 {
    display: inline-block;
    width: 345px;
    position: relative;
    z-index: 6;
    overflow:hidden; 
    box-sizing: border-box; }
  .pane1 .btn-find {
    display: none; }

  .sub-pane2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 450px; 
     }

  .detail {
    width: 80%; }

  .detail-left {
    float: left;
display: inline-block;
width: 49%;
margin-left: auto;
margin-right: 10%;
margin-top: 1%;
  }

  .detail-right {
    float: left;
    display: inline-block;
    padding-top: 10px;
    padding-left: 30px; }

  .detail-teacher {
    clear: both;
    overflow: hidden;
    zoom: 1;
    float: none; }

  .detail-icon {
    display: inline-block; }

  .detail-opt {
    float: none;
    margin-right: 0; } 
  }

@media only screen and (min-width: 768px) {
  .sub-pane1{
    height: 580px !important;
  }
  .mode-1 .sub-pane1{
    height: 705px !important;
  }
  .sub-pane2{
    width: 100%;
  }

}


@media only screen and (min-width: 1150px) {
  .class-list li {
    
    float: left; }

  .detail {
    width: 57%; }
     }


     /*Bootstrap rewrites*/

     .row{
      margin-left: 0px;
      margin-right: 0px;
     }
}

@media only screen and (min-width: 160px){
  .mode-1 .top-panel{
    bottom: 160px;
  }
}

@media only screen and (min-width: 1700px){
  .mode-1 .top-panel{
    bottom: 160px !important;

  }

}