/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
$darkBeige: #94887B;
body {
    color: $darkBeige;
    font-weight: 300;
    letter-spacing: 1px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

.t10{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
.t05{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
.t02{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/******
 * OHMZA
 ******/
$beige: #fff6ee;
body {
    background-color: $beige;
}
h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}
$mainTheme: #A456A2;
$altTheme: #c7d694;
.btn-primary {
    background-color: $mainTheme;
    border-color: darken($mainTheme, 3%);
    &:hover, &:focus {
        outline: none;
        background-color: darken($mainTheme, 3%);
        border-color: darken($mainTheme, 6%);
    }
    &:active {
        outline: none;
        box-shadow: none;
        background-color: darken($mainTheme, 9%);
        border-color: darken($mainTheme, 12%);
    }
}
.btn-large {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
}

/**
 * PAGE STRUCTURE
 */
.header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f3f3f3;
    height: 60px;
    padding: 8px 16px 12px 8px;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}
.logo {
    position: relative;
    display: block;
    color: $altTheme;
    font-size: 24px;
    width: 142px;
    height: 42px;
    text-indent: -9001px;
    background-image: url(../img/omza-logo.png);
}
.mode-1 .logo {
    left: 50%;
    margin-left: -70px;
}
$studoWidth: 100px;
.subhead {
    position: absolute;
    top: 10px;
    width: 100%;
    left: 0;
    height: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    h3 {
        padding: 0 6px;
        background-color: #fff6ee;
        color: $darkBeige;
    }
}
.mode-1 .subhead {
    display: none;
}
.subhead-i {
    display: inline-block;
    cursor: pointer;
    &:hover {
        opacity: 0.85;
    }
}
.studio-img {
    background-size: cover;
    background-color: transparent;
    /* Hardcode for now */
    background-image: url(../img/divinitree.jpg);
    border-radius: $studoWidth/2;
    border: 5px solid $beige;
    width: $studoWidth;
    height: $studoWidth;
    margin: 0 auto;
}
.content {
    padding: 0;
    text-align: center;
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.content-inner {
    position: relative;
    left: 0%;
}
.pane {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    white-space: normal;
    padding-bottom: 20px;
    overflow-y: auto;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin-top: 60px;
    box-sizing: border-box;
}
.mode-2 .pane0 {
    opacity: 0;
}
.mode-5 .content-inner {
    left: -100%;
}
.pane0 {
    margin-top: 60px;
    padding: 0;
}
.home-head{
    background-image: url(../img/home-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: table;
}
.home-wrap {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    h1 {
        font-size: 96px;
        color: #f6f6f6;
    }
    h4 {
        font-size: 32px;
        color: #f6f6f6;
    }
    .home-search {
        max-width: 450px;
        margin: 0 auto;
        padding: 20px;
    }
}
.home-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: table;
    top: 0;
    left: 0;
}
.header h3 {
    margin: 4px 0 0;
}
.pane0 {
    padding-top: 0;
}
.pane h1, .pane h2, .pane h3, .pane h4 {
    margin: 0;
}
.pane1-head {
    margin-bottom: 16px;
    display: none;
}
.mode-1 {
    .pane1-head {
        display: block;
    }
}
.pane1 .btn-large {
    margin-top: 30px;
}
.sub-pane {
    display: inline-block;
    vertical-align: top;
}
.pane1 {
    padding: 0;
}
.sub-pane1 {
    display: none;
    padding: 20px;
    padding-top: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    width: 330px;
}

.sub-pane2{
    padding-top: 100px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
}

.class-wrap {
    overflow-y: auto;
    max-height: 100%;
    padding-right: 20px;
}
.class-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        list-style: none;
        display: block;
        height: 40px;
        padding: 12px 16px;
        margin-right: 16px;
        margin-bottom: 16px;
        background: #fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        min-height: 150px;
        position: relative;
        cursor: pointer;
        &:hover .class-date {
            background: darken($altTheme, 10%);
        }
    }
}
.class-left {
    width: 60px;
    position: absolute;
    text-align: center;
    top: 16px;
    left: 16px;
}
.class-right {
    padding-left: 80px;
    width: 100%;
}
.class-right h3 {
    margin-right: 70px;
    font-size: 18px;
    font-weight: 300;
}
.class-icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-size: cover;
}
.class-sub {
    font-size: 13px;
    line-height: 120%;
    margin-top: 8px;
}
.class-date {
    background: $altTheme;
    padding: 3px 8px;
    position: absolute;
    top: 10px;
    right: -6px;
    text-align: right;
}
.class-date:after, .class-date:before {
    top: 100%;
    right: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.class-date:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 6px;
    border-right-color: #ffffff;
    right: 6px;
}
.class-date:before {
    border-color: rgba(160, 186, 74, 0);
    border-top-color: darken($altTheme, 20%);
    border-width: 6px;
    margin-left: -6px;
}
.class-day {
    font-size: 13px;
    line-height: 120%;
    color: #fff;
}
.class-time {
    font-size: 12px;
    line-height: 120%;
    color: #fff;
}
.class-rating {
    background: #f0f0f0;
    height: 16px;
    width: 120px;
    margin: 20px 0 0 44px;
    position: relative;
    border-radius: 2px;
    &:before {
        width: 34px;
        height: 31px;
        content: '';
        display: block;
        background: transparent url(../img/comment.png);
        position: absolute;
        top: -4px;
        left: -44px;
    }
}
.class-rating-i {
    background: $altTheme;
    height: 16px;
}
.btn-class-details {
    padding: 4px 6px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    opacity: 0.8;
}
.pane2 {
    text-align: center;
}
.detail {
    display: inline-block;
    margin: 100px 0 20px;
    width: 100%;
}
.detail-wrap {
    margin-top: 16px;
}
.detail-icon {
    width: 40px;
    height: 40px;
    margin-top: 14px;
    border-radius: 20px;
    float: left;
    display: none;
    background-size: cover;
    margin-left: 10px;
}
.detail-teacher {
    float: left;
}
.detail-teacher .detail-opt {
    float: left;
}
.detail-opt {
    text-align: left;
    margin-bottom: 10px;
    font-size: 24px;
    padding-top: 6px;
    span {
        display: block;
        font-style: italic;
        font-size: 13px;
        line-height: 70%;
    }
    float: left;
    margin-right: 16px;
}
.detail-left {
    width: 100%;
}
.detail-right {
    padding-top: 20px;
}
.detail-reg .btn {
    margin-top: 10px;
    .glyphicon {
        width: 0;
        opacity: 0;
        vertical-align: top;
        padding-top: 3px;
    }
}
.detail-reg .btn-success .glyphicon {
    margin-right: 12px;
    width: 24px;
    opacity: 1;
}
.mode-1 {
    .sub-pane1 {
        display: block;
        width: 100%;
        padding-top: 30px;
        h1 {
            font-size: 48px;
        }
    }
    .sub-pane2 {
        display: none;
    }
    .pane1 .btn-find {
        display: inline-block;
        width: auto;
        min-width: 300px;
    }
    .slider {
        width: 33%;
        float: left;
        &:first-child {
            margin-left: 0;
        }
        width: 400px;
        float: none;
        display: inline-block;
    }
    .node {
        display: inline-block;
        float: none;
    }
    .sliders {
        clear: both;
        overflow: hidden;
        text-align: center;
        padding-bottom: 20px;
    }
}

/**
 * SLIDERS
 */
.slider {
    position: relative;
    height: 65px;
    padding-top: 24px;
}
.slider-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-size: contain;
}
.slider-strength {
    .slider-i {
        background-color: #be9876;
    }
    .slider-img {
        background-image: url(../img/attr-strength.png);
    }
}
.slider-spirit {
    .slider-i {
        background-color: #a985b8;
    }
    .slider-img {
        background-image: url(../img/attr-spirit.png);
    }
}
.slider-flex {
    .slider-i {
        background-color: #3498db;
    }
    .slider-img {
        background-image: url(../img/attr-flex.png);
    }
}
.slider-balance {
    .slider-i {
        background-color: #1abc9c;
    }
    .slider-img {
        background-image: url(../img/attr-balance.png);
    }
}
.slider-tempo {
    .slider-i {
        background-color: #acbc74;
    }
    .slider-img {
        background-image: url(../img/attr-tempo.png);
    }
}
.slider-bg {
    background-color: #F3E7DC;
    border-radius: 3px;
    height: 30px;
    margin-left: 85px;
    position: relative;
}
.js-slider .slider-bg {
    cursor: pointer;
}
.js-slider.on .slider-bg {
    opacity: 1;
}
.slider-i {
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    height: 30px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 50%;
    &.full {
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
}
.slider-l {
    line-height: 30px;
    color: #999;
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 18px;
    letter-spacing: 1px;
}
.slider-i .slider-l {
    color: #f0f0f0;
}

.nodes {
    margin-top: 30px;
}
.node {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    float: left;
    margin-right: 16px;
    cursor: pointer;
    height: 110px;
    span {
        margin-top: 76px;
        display: block;
        font-size: 18px;
    }
}
.pane1 .node {
    opacity: 0.6;
    &:hover, &.on {
        opacity: 1;
    }
}
.node-meditation {
    background-image: url(../img/node-meditation.png);
}
.node-chanting {
    background-image: url(../img/node-chanting.png);
}
.node-heated {
    background-image: url(../img/node-heated.png);
}
.node-healing {
    background-image: url(../img/node-healing.png);
}
.node-music {
    background-image: url(../img/node-music.png);
}
.node-music span {
    white-space: nowrap;
    font-size: 17px;
}
.node-stand {
    background-image: url(../img/node-stand.png);
}
.detail-wrap .node {
    opacity: 0.4;
    &.on {
        opacity: 1;
    }
}
.detail-clear {
    clear: both;
    overflow: hidden;
    padding-bottom: 10px;
}
.detail-nodes {
    clear: both;
    width: 100%;
    margin-top: 20px;
}
.no-results {
    padding: 10px;
}
.reset {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 6px;
    color: $darkBeige;
}

/**
 * Media Queries
 */
$leftWidth: 330px;
$panePadding: 20px;
 @media only screen and (min-width: 720px) {
    .content {
        max-width: none;
    }
    .pane0 {
        width: 100%;
        max-width: 100%;
    }
    .no-fil.mode-1 {
        .slider-bg, .node {
            opacity: 1;
        }
    }
    .mode-1 {
        .slider {
            margin-left: 20px;
        }
        .sub-pane1 h1 {
            font-size: 72px;
            color: $darkBeige;
        }
        .sub-pane1 h4 {
            font-size: 24px;
            margin: 10px 0;
            color: $darkBeige;
        }
    }
    .sub-pane1 {
        display: inline-block;
        width: $leftWidth;
        position: relative;
        z-index: 6;
        overflow-x: hidden;
        padding-left: 20px;
        box-sizing: border-box;
    }
    .pane1 .btn-find {
        display: none;
    }
    .sub-pane2 {
        position: absolute;
        padding-left: $leftWidth + $panePadding;
        left: 0;
        top: 0;
    }
    .detail {
        width: auto;
    }
    .detail-left {
        float: left;
        display: inline-block;
        width: 300px;
    }
    .detail-right {
        float: left;
        display: inline-block;
        padding-top: 10px;
        padding-left: 30px;
    }
    .detail-teacher {
        clear: both;
        overflow: hidden;
        zoom: 1;
        float: none;
    }
    .detail-icon {
    display: inline-block;
    }
    .detail-opt {
        float: none;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .class-list li {
        width: 31%;
        max-width: none;
        float: left;
    }
}
