.header{
	border-bottom: none;
	background-color: #fff6ee;
}

.pane1{
	padding-top: 50px;
}

.sub-pane2{
	padding-top: 0px !important;
}

.logo{
left: 85px;
position: relative;
bottom: 23px;
margin-left: 0px;
}

.mode-1 .logo{
	left: 87px;
	margin-left: 0px;
}
.span-text{
	font-weight: 400;
	color: #ddd;
}
.mode-4 .sub-pane1{
	bottom: 42px;
}